* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(33, 33, 33);
  padding: 20px;
  color: white;
}
.addTask{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.addButton{
  width: 120px;
  height: 50px;
  background-color: green;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: large;
  margin-bottom: 20px;
}
.addButton:hover{
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.555);
  color: rgba(255, 255, 255, 0.582);
}
.inputTask{
  height: 30px;
  display: flex;
  margin-top: 10px;
}
.taskContainer {
  display: flex;
  justify-content: space-around;
}
.taskContainer > div {
  width: 20vw;
  height: 70vh;
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  border: solid 1px rgba(255, 255, 255, 0.386);
}
.title {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.title h2 {
  font-family: Gill Sans, sans-serif;
}
.title .count {
  margin-left: auto;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}
.tasks {
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}
.tasks p {
  font-family: Gill Sans, sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 15px;
}
